
#Header{
  background-color: yellow;
}
#Side{
  background-color: green;
  width: 50%;
  height: 100px;
  float: left;
}
#Main{
  background-color: purple;
  width: 50%;
  height: 100px;
  float: right;
  
}
#Footer{
  background-color: blue;
}
#wrapper{
  max-width: 960px;
  margin: 0 300px;
}
.box{
  text-align: center;
  
}