#Header{
  background-color: yellow;
}
#Side{
  background-color: green;
}
#Main{
  background-color: purple;
  height: 150;
  width: 150;
}
#Footer{
  background-color: blue;
}
#wrapper{
  max-width: 960px;
  margin: auto;
}
.box{
  border-color: black;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  padding: 5px;
  margin: 5px;
  
}
*{
  padding: 0;
  box-sizing: border-box;
}